<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cities finder</title>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <div class="main">
      <h1 class="title">Search cites distance</h1>
      <div class="input-bar">
        <label for="city-a">From:</label>
        <input type="text" id="city-a" />
        <label for="city-b">To:</label>
        <input type="text" id="city-b" />
        <button>I'm feeling lucky!</button>
      </div>
    </div>
  </body>
</html>
