body {
  font-family: sans-serif;
  margin: auto;
  background-color: lightsteelblue;
  padding-top: 4rem;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

div {
  margin-bottom: 1rem;
}

h1.title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

div.main {
  border: 0.05rem solid gray;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.2rem 0.6rem lightgray;
  background-color: white;
  padding: 2rem;
  flex-direction: column;
  display: inline-flex;
  /* flex: 800px; */
}

div.input-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

div.results {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  align-content: flex-start;
  border: 0.05rem solid gray;
  width: inherit;
  min-width: inherit;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.2rem 0.6rem lightgray;
  background-color: white;
  padding: 2rem;
  gap: 2rem;
  box-flex-group: inherit;
}

label {
  text-align: center;
  align-self: center;
}

input {
  padding: 0.4rem;
  border: 0.1rem solid lightsteelblue;
  border-radius: 0.2rem;
}

button {
  border: 0.05rem solid grey;
  height: 1.75rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  white-space: nowrap;
}

button:hover {
  background-color: dimgray;
  color: floralwhite;
}

button:active {
  background-color: darkgray;
}
